.collection_head {
    color: var(--text-color);
    margin-bottom: 30px;
}

.collection_head h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .collection_banner {
        height: 200px;
    }
}
@media screen and (max-width: 576px) {
    .collection_body{
        margin-bottom:30px
    }
}