.modal-overlay {
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 11;
    overflow: hidden;
    transform: translateX(-50%);
    background-color: var(--white-color);
    max-height: 90vh;
    overflow-y: scroll;
}

.modal-overlay button:focus{
    outline: none;
    box-shadow: none;
}

.modal-actions{
    text-align: right;
}
.modal-footer button {
    cursor: pointer;
    margin-top: 0;
    border: 1px solid #ddd;
    font-weight: 500;
    font-size: 13px;
    height: 40px;
    background: var(--primary-color);
    border: 0;
    color: var(--white-color);
    width: 150px;
}
@media screen and (max-width: 992px){
    .modal-overlay{
        width: 90% !important;
    }
}