.pagination {
    justify-content: center;
    padding: 20px 0
}

.pagination li {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 5px;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    text-align: center;
    transition: all .3s;
}

.pagination li a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    transition: all .3s;
    height: 40px;
    width: 100%;
    display: inline-block;
}

.pagination li.active {
    background-color: var(--primary-color);
    border: none
}

.pagination li:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.pagination li:hover a,
.pagination li a:hover {
    color: var(--white-color) !important;
    cursor: pointer;
}

.pagination li.active a {
    color: var(--white-color)
}


.pagination li a i {
    vertical-align: middle;
    margin-right: 0px !important;
}

.break-me {
    border: none !important;
}

.break-me:hover {
    background-color: transparent !important;
}

.pagination .break-me:hover a {
    color: var(--text-color) !important;
    cursor: text
}

.border {
    border: none !important;
}

.border:hover {
    background-color: transparent !important;
}