.button-filter {
    cursor: pointer;
    height: 2rem;
    line-height: 2rem;
    min-width: 6.25rem;
    text-align: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, .09);
    display: inline-block;
    margin: 5px 8px 5px 0;
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    text-transform: capitalize;
    border-radius: 2px;
    padding:0 15px
}

.button-filter.active {
    border-color: var(--primary-color);
    color: var(--primary-color);
}